.row1{

       display: flex;
       justify-content: space-between;
       font-size: 20px;
       font-weight: 900;
   }
   .content2{
gap: 30px;
       display: flex;
   }
.content3>button{
padding: 5px;
border-radius: 4px;

}
.btn1{

   background: white;
   color: #000;
   font-weight: 600;
}

.btn2{

   background: #000;
   color: white;
   font-weight: 600;
}

.row2{
   margin: auto;
   width: 60%;
}
.row2>.center{
   margin-top: 60px;
   font-weight: 700;
}
.row2_content>center>div{
   /* text-align: justify; */
   font-size: 40px;
font-weight: 900;
}
.btn3{

       background: #c20a0a;
       color: white;
       font-weight: 500;
       width: 200px;
       height: 30px;
    }
    